@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-text {
    @apply text-[3rem] font-bold text-[#D65A31];
  }
}

 /* #F14A00 #C62300
#D65A31 */

/* text-col- #222831
dark-grey- #393E46
bg-col-#EEEEEE */
