@import "tailwindcss";

@layer components {
  .container {
    @apply bg-[#FDFFF5] mx-auto border-4 rounded-[0.2rem] border-[#EEEEEE] flex flex-col;
  }
  .header {
    @apply flex justify-center bg-[#fff] border-b-2 border-b-[#EEEEEE];
  }
  .header-text {
    @apply text-[1.8rem] md:text-[2.5rem] font-bold text-[#D65A31] text-center capitalize;
  }
  .logo {
    @apply rounded-[50%] w-[3rem] h-[3rem] md:w-[4rem] md:h-[4rem] mr-3 mb-1;
  }
  .input-div {
    @apply mt-[3rem] md:mt-[5rem] mb-[2rem] flex md:justify-around justify-evenly;
  }
  .add-icon {
    @apply w-[2rem] h-[2rem] mx-2 mt-1;
  }
  .add-btn {
    @apply bg-[#333] text-[#fff] md:w-[30%] flex justify-center rounded-[0.3rem];
  }
  .add-btn:hover {
    @apply text-[#a7a1a1] rounded-[1rem];
  }
  .ingr-list {
    @apply md:ml-[2.5rem] ml-[1rem] mb-[2rem] ;
  }
  .ingr-head {
    @apply font-bold md:text-[2.3rem] text-[1.8rem] mb-3;
  }
  .item-list {
    @apply text-[#6b6969d7] list-disc list-inside;
  }
  .item-list li::marker {
  @apply text-black;
}
  .items {
    @apply mb-3 text-[1.2rem] capitalize;
  }
  .recipe-div {
    @apply bg-[#EEEEEE] md:flex md:justify-around w-[80%] self-center mb-[1rem] p-[2rem] rounded-[0.5rem];
  }
  .recipe-p{
    @apply text-[1.2rem] text-[#6b6969d7];
  }
  .recipe-head{
    @apply text-[2rem] font-bold capitalize;
  }
  .recipe-btn{
    @apply bg-[#D65A31] text-[#fff] w-[10rem] text-[1.3rem] h-[3rem] rounded-[0.3rem] mt-5;
  }
  .recipe-btn:hover{
    @apply bg-[#D65A31] text-[#c9c4c4] rounded-[0.7rem];
  }
}


input {
  @apply bg-[#fff] w-[80%] md:w-[60%] border-2 border-[#EEEEEE] p-2 rounded-[0.3rem];
}
input::placeholder {
  @apply text-[1.3rem] p-1;
}
span {
  @apply md:mt-1 md:capitalize md:text-[1.2rem] hidden md:block;
}

 /* #F14A00 #C62300
#D65A31 */

/* text-col- #222831
dark-grey- #393E46
bg-col-#EEEEEE */
